// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color:#636b6f;
// Navbar
$navbar-default-bg:#fff;
// buttons
$btn-default-color:$text-color;
// Panel
$panel-default-heading-bg:#fff;
$app-bg-color:#c0355d;